@media (min-width: 1024px) {

    /* GLOBAL */

    body {
        margin: 0 auto;
        max-width: 1200px;
        background-color: #fff;
    }

    /* BLOG POST */

    .post-container {
        margin: 0;
    }
}