body {
    background-color: rgb(250, 251, 252);
    margin: 0;
}

nav {
    position: fixed;
    background-color: #222;
    color: #fff;
    padding: 0.5em 0 0.5em 1em;
    width: 100%;
    z-index: 1;
}

a {
    text-decoration: none;
}

a:visited {
    color: #fff;
}

.container-blog {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-post {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 {
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url("../assets/img_01.jpg");
}

.img {
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url("../assets/alps.jpg");
}

button {
    background-color: rgba(0,0,0,0);
    border: none;
}

.button {
    position: absolute;
    height: 100%;
    width: 100%;
}

.headings {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #eee;
}

h1 {
    font-weight: 400;
    /* margin: 0.5em 0 0.5em 1em; */
}

.h2-blog {
    font-weight: 400;
    /* font-size: 12px; */
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* color: #777; */
}

.h3-blog {
    font-weight: 700;
    /* font-size: 20px; */
    font-size: 35px;
    /* color: #333; */
}

.h4-blog {
    font-weight: 300;
    /* font-size: 14px; */
    font-size: 25px;
    /* color: #333; */
    margin-top: 2px;
}

.main-post {
    margin: 0 2.5em 0 2.5em;
}

p {
    font-family: 'Roboto Slab', serif;
}