body {
    background-color: rgb(250, 251, 252);
    margin: 0;
    padding: 50px;
}

section {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    margin: 0 0 25px 0;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #eee;
}

h2 {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* color: #777; */
}

h3 {
    font-weight: 700;
    font-size: 20px;
    /* color: #333; */
}

h4 {
    font-weight: 300;
    font-size: 14px;
    /* color: #333; */
    margin-top: 2px;
}

.container {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "cont cont cont img"; */
    overflow: hidden;
    background-image: url("../assets/alps.jpg");
    background-size: cover;
    height: auto;
}

.content {
    /* grid-area: cont; */
    margin: 25px;
}

.img {
    /* grid-area: img; */
    background-image: url("../assets/alps.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}