@media (min-width: 812px) and (max-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
        grid-template-areas:
        "col col"
        "col col";
    }
    
    .card1 {
        grid-area: 1/1/1/1;
    }
    
    .card2 {
        grid-area: 1/2/1/2;
    }

    .card3 {
        grid-area: 2/1/2/1;
    }
}