@media (min-width: 812px) {
    .card {
        max-width: 300px;
    }
    
    .main-blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "col col"
        "col col";
    }
    
    #card1 {
        grid-area: 1/1/1/1;
    }
    
    #card2 {
        grid-area: 1/2/1/2;
    }

    #card3 {
        grid-area: 2/1/2/1;
    }

    .h2-blog {
        /* font-weight: 400; */
        font-size: 15px;
        /* text-transform: uppercase;
        letter-spacing: 1px; */
        /* color: #777; */
    }
    
    .h3-blog {
        /* font-weight: 700; */
        font-size: 23px;
        /* color: #333; */
    }
    
    .h4-blog {
        /* font-weight: 300; */
        font-size: 17px;
        /* color: #333; */
        /* margin-top: 2px; */
    }
}